@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 1440px;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  margin: 0 auto;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
}

.display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .header-container {
  padding: 40px 150px 0 130px;
  height: 240px;
  font-size: 18px;
  background: linear-gradient(
    0deg,
    rgba(168, 218, 220, 1) 0%,
    rgba(255, 255, 255, 1) 67%
  );
} */

.error-container {
  margin: 100px 100px;
  padding: 100px 100px;
  width: 70%;
  height: 200px;
  background: #0affeb33;
  font-size: 22px;
}

.header {
  height: 100px;
  background-color: rgb(246, 246, 246);
  padding: 10px 70px;
  font-size: 25px;
  display: flex;
}

.header h1 {
  margin-right: 15px;
}

.results-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-result {
  width: 100%;
  height: 90px;
  padding: 40px 90px 0 90px;
}

.result {
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  letter-spacing: 1px;
}

.result span span {
  color: #0affea;
  font-weight: 500;
}

.filters-container {
  width: 300px;
  height: 500px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -2px -1px 10px 2px rgba(50, 50, 50, 0.29);
  margin-left: 50px;
  margin-top: 40px;
  padding-top: 30px;
}

.filter-select {
  background: #ffffff;
  color: #000000;
  border: none;
  border-bottom: 1px solid #0affea;
  width: 200px;
  height: 40px;
  margin-top: 30px;
  padding-left: 5px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.filter-select:focus {
  outline: none;
}

.filter-select option {
  padding-left: 20px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.filters-container input {
  border: none;
  border-bottom: 1px solid #0affea;
  background: #ffffff;
  color: #000000;
  width: 200px;
  padding-left: 5px;
  margin-top: 30px;
  height: 40px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.filters-container input:focus {
  outline: none;
}

.filters-container button {
  margin: 50px 20px 0px 20px;
  padding: 6px 15px;
  background-color: #0affea;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.filters-container button:focus {
  outline: none;
}

.filters-container button img {
  margin-right: 5px;
}

.filters-container button:hover {
  transition-duration: 0.4s;
  transform: scale(1.1);
}

.date-filter {
  width: 60px;
}

.cont {
  width: 960px;
  height: 270px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contae {
  width: 1100px;
}
.card-container {
  width: 950px;
  height: 260px;
  overflow: hidden;
  border-radius: 30px;
  background-color: #ffffff;
  display: flex;
  border: 0.5px solid rgb(219, 219, 219);
}

.card-container:hover {
  transition-duration: 0.3s;
  transform: scale(1.02);
  box-shadow: -2px -1px 10px 2px rgba(50, 50, 50, 0.29);
}

.image-card-container {
  width: 315px;
}

.info-card {
  width: 640px;
  padding: 10px 25px;
}

.name-hotel {
  font-size: 24px;
  font-weight: 500;
}

.description-hotel {
  height: 120px;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  font-style: italic;
  margin-top: 8px;
}

.details-hotel {
  font-weight: 300;
  font-size: 14px;
  margin-top: 3px;
  display: flex;
  color: #0affea;
}

.icon {
  width: 16px;
  margin-right: 8px;
}

.margin-left {
  margin-left: 50px;
}

.price-hotel {
  margin-left: 70px;
}

.price-icon {
  width: 16px;
  height: 20px;
}

.button-card {
  width: 130px;
  height: 35px;
  font-family: "Poppins", sans-serif;
  color: #000000;
  margin-top: 8px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 5px;
  border: none;
  /* border: 2px solid #0affea; */
  background: #0affea;
  margin-left: 440px;
}

.button-card:hover {
  transition-duration: 0.4s;
  color: #0affea;
  background: #000000;
}

.button-card:focus {
  outline: none;
}
