@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 1440px;
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f1;
  margin: 0 auto;
}

.display-flex {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.filter-container {
  background-color: #a8dadc;
  height: 100px;
}

.date-filter {
  width: 60px;
}

.card-container {
  width: 420px;
  margin: 20px;
  padding: 10px;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: -2px -1px 20px 4px rgba(50, 50, 50, 0.29);
}

.image-card-container {
  height: 320px;
  position: relative;
}

.image-card {
  width: 100%;
  height: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.img-favorite {
  position: absolute;
  top: 34px;
  left: 356px;
}

.img-favorite input {
  position: relative;
}

.like-container {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  position: absolute;
  transform: translate(-33%, -20%);
}
.like {
  width: 100%;
  position: absolute;
}

.like-red {
  display: none;
  width: 90%;
  position: absolute;
  transform: translate(6%, 8%);
}

#favorite {
  display: none;
}

#favorite:checked {
  display: none;
}

#favorite:checked + .like-container .like-red {
  display: block;
}
#favorite:checked + .like-container .like {
  display: none;
}

.name-hotel {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
}

.description-hotel {
  height: 280px;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  margin: 8px 0 20px 0;
}

.details-hotel {
  font-weight: 300;
  font-size: 20px;
  margin-top: 5px;
  display: flex;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.price-hotel {
  margin-left: 70px;
}

.price-icon {
  width: 25px;
  height: 25px;
}

.button-card {
  width: 100%;
  height: 60px;
  font-family: "Poppins", sans-serif;
  background-color: #a8dadc;
  color: #ffffff;
  letter-spacing: 5px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 300;
  border: none;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.button-card:hover {
  background: linear-gradient(
    90deg,
    rgba(164, 202, 204, 1) 0%,
    rgba(168, 218, 220, 1) 100%
  );
}
