@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 1440px;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  margin: 0 auto;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-container {
  padding: 40px 150px 0 130px;
  height: 240px;
  font-size: 18px;
  background: linear-gradient(
    0deg,
    rgba(168, 218, 220, 1) 0%,
    rgba(255, 255, 255, 1) 67%
  );
}

.error-container {
  width: 100%;
  height: 300px;
  background: #ffe2e2;
  color: #ff0000;
  font-size: 22px;
}

.header-container h1 {
  font-size: 60px;
  color: #007b7f;
}

.result {
  margin-top: 10px;
  color: #000000;
}

.result span span {
  color: #007b7f;
}

.filter-container {
  height: 70px;
  background-color: #a8dadc;
  border-bottom: 3px solid #007b7f;
}

.filter-select {
  border: none;
  border-bottom: 2px solid #007b7f;
  padding: 0 10px 0 10px;
  width: 160px;
  margin: 0px 20px 0px 20px;
  height: 25px;
}

.filter-container input {
  border: none;
  border-bottom: 2px solid #007b7f;
  padding: 0 10px 0 10px;
  margin: 0px 20px 0px 20px;
  height: 25px;
}
.filter-container button {
  margin: 0px 20px 0px 20px;
  height: 30px;
  padding: 0 10px 0 10px;
  background-color: #007b7f;
  color: #ffffff;
  border: none;
  border-radius: 15px;
}

.date-filter {
  width: 60px;
}

.card-container {
  width: 420px;
  margin: 20px;
  padding: 10px;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: -2px -1px 20px 4px rgba(50, 50, 50, 0.29);
}

.image-card-container {
  height: 320px;
  position: relative;
}

.image-card {
  width: 100%;
  height: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.img-favorite {
  position: absolute;
  top: 34px;
  left: 356px;
}

.img-favorite input {
  position: relative;
}

.like-container {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  position: absolute;
  transform: translate(-33%, -20%);
}
.like {
  width: 100%;
  position: absolute;
}

.like-red {
  display: none;
  width: 90%;
  position: absolute;
  transform: translate(6%, 8%);
}

#favorite {
  display: none;
}

#favorite:checked {
  display: none;
}

#favorite:checked + .like-container .like-red {
  display: block;
}
#favorite:checked + .like-container .like {
  display: none;
}

.name-hotel {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
}

.description-hotel {
  height: 280px;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  margin: 8px 0 20px 0;
}

.details-hotel {
  font-weight: 300;
  font-size: 20px;
  margin-top: 5px;
  display: flex;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.price-hotel {
  margin-left: 70px;
}

.price-icon {
  width: 25px;
  height: 25px;
}

.button-card {
  width: 100%;
  height: 60px;
  font-family: "Poppins", sans-serif;
  background-color: #a8dadc;
  color: #ffffff;
  letter-spacing: 5px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 300;
  border: none;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.button-card:hover {
  background: linear-gradient(
    90deg,
    rgba(164, 202, 204, 1) 0%,
    rgba(168, 218, 220, 1) 100%
  );
}
